<footer class="footer text-light d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    
    <ul class="list-inline mb-0 float-right">
      <li class="list-inline-item mr-3"><%= link_to "Terms", terms_path, class: 'text-light' %></li>
      <li class="list-inline-item mr-3"><%= link_to "Privacy", privacy_path, class: 'text-light' %></li>
    </ul>
    <h4>Amazing<span class="text-success">Health</span></h4>
    <span>© <%= Date.today.year %> amazinghealth</span>
  </div>
</footer>
