<header class="header">
<div class="row align-items-center">
    <div class="col-lg-5">
        <div class="hero-title pr-lg-5">
            
            <h1 class="hero-1-title mb-2 font-weight-normal line-height-1_4"> We offer only the <span class="text-success font-weight-medium">best</span></h1>
            <p class="mb-4 pb-2">Enjoy a comfortable atmosphere with various facilities available</p>

           
            <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Search for services">
            <div class="input-group-prepend">
            <div class="input-group-text btn btn-success bg-success text-white">Search</div>
            </div>
  </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="mt-5 mt-lg-0">
            <%# <img src="assets/imgs/hero-1-img.png" alt="" class="img-fluid mx-auto d-block"> %>
            <%= image_tag "medic.png", class: "img-fluid mx-auto d-block", alt: 'medic' %>
        </div>
    </div>
</div>
</header>